{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>The Cappa Luxury Hotel</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="index.html"> <img src="{% static 'img/logo.png' %}" class="logo-img" alt=""> </a>
                <!-- <a class="logo" href="index.html"> <h2>THE CAPPA <span>Luxury Hotel</span></h2> </a> -->
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Home <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html" class="dropdown-item"><span>Homepage</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="about.html">About</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Rooms & Suites <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="rooms.html" class="dropdown-item"><span>Rooms</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Room Details</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="restaurant.html">Restaurant</a></li>
                    <li class="nav-item"><a class="nav-link" href="spa-wellness.html">Spa</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Pages <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="services.html" class="dropdown-item"><span>Services</span></a></li>
                            <li><a href="faq.html" class="dropdown-item"><span>F.A.Qs</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">News <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="news.html" class="dropdown-item"><span>News</span></a></li>
                            <li><a href="post.html" class="dropdown-item"><span>Post Page</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'img/slider/1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>Luxury Hotel</h5>
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp"> 
                    <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
                    <div class="section-subtitle">The Cappa Luxury Hotel</div>
                    <div class="section-title">Enjoy a Luxury Experience</div>
                    <p>Welcome to GRM Luxury Hotel, the epitome of five-star elegance and comfort in Kenya. From the moment you step in, you are immersed in an atmosphere of sophistication and tranquility, where world-class hospitality meets modern luxury</p>
                    <p>Indulge in exquisitely designed suites, gourmet dining experiences, and unparalleled relaxation in our serene spa. Whether you’re here for business or leisure, every detail is curated to ensure your stay is nothing short of exceptional. Escape to a world of refinement and exclusivity, where your comfort is our priority.</p>
                    <!-- reservation -->
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Reservation</p> <a href="tel:+254 725 717270">+254 725 717270</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="{% static 'img/rooms/8.jpg' %}" alt="" class="mt-90 mb-30"> </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="{% static 'img/rooms/2.jpg' %}" alt=""> </div>
            </div>
        </div>
    </section>
    <!-- Pricing -->
    <section class="pricing section-padding bg-darkblack">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-subtitle"><span>Best Prices</span></div>
                    <div class="section-title">Extra Services</div>
                    <p class="color-2">Luxury at Your Convenience</p>
                    <p class="color-2">Enhance your stay with our premium services, carefully designed to elevate your experience. Whether you seek seamless comfort, personalized care, or indulgent extras, our services ensure that every moment is effortless and enjoyable.</p>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p class="color-2">For information</p> <a href="tel:+254 725 717270">+254 725 717270</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="owl-carousel owl-theme">
                        <div class="pricing-card">
                            <img src="{% static 'img/pricing/1.jpg' %}" alt="">
                            <div class="desc">
                                <div class="name">Room cleaning</div>
                                <div class="amount">Ksh 5500/=<span>/ month</span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>  Daily housekeeping for a pristine space</li>
                                    <li><i class="ti-check"></i> Personalized laundry and linen refresh</li>
                                    <li><i class="ti-close unavailable"></i> Specialized deep cleaning upon request</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="{% static 'img/pricing/2.jpg' %}" alt="">
                            <div class="desc">
                                <div class="name">Drinks included</div>
                                <div class="amount">Ksh 4000/=<span>/ daily</span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i> Selection of premium beverages served at your convenience</li>
                                    <li><i class="ti-check"></i> Access to our exclusive minibar</li>
                                    <li><i class="ti-close unavailable"></i>Custom bottle service not included</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="{% static 'img/pricing/3.jpg' %}" alt="">
                            <div class="desc">
                                <div class="name">Room Breakfast</div>
                                <div class="amount">Ksh 2500/=<span>/ daily</span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Wake up to a gourmet breakfast served in the comfort of your room</li>
                                    <li><i class="ti-check"></i>A selection of freshly prepared dishes, fruits, and beverages</li>
                                    <li><i class="ti-close unavailable"></i>Custom dietary requests require prior notice</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="{% static 'img/pricing/4.jpg' %}" alt="">
                            <div class="desc">
                                <div class="name">Safe & Secure</div>
                                <div class="amount">Ksh 1600/=<span>/ daily</span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Personal in-room safe for storing valuables</li>
                                    <li><i class="ti-check"></i>24/7 security monitoring for your peace of mind</li>
                                    <li><i class="ti-close unavailable"></i>Insurance coverage not included</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </div>   
            </div>
        </div>
    </section>
    <!-- Facilties -->
    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Our Services</div>
                    <div class="section-title">Hotel Facilities</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-world"></span>
                        <h5>Pick Up & Drop</h5>
                        <p>Arrive in style with our seamless airport transfer service. Enjoy a smooth, stress-free ride to and from the hotel.</p>
                        <div class="facility-shape"> <span class="flaticon-world"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-car"></span>
                        <h5>Parking Space</h5>
                        <p>Secure and spacious parking available for our guests, ensuring your vehicle stays safe throughout your stay.</p>
                        <div class="facility-shape"> <span class="flaticon-car"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-bed"></span>
                        <h5>Room Service</h5>
                        <p>Enjoy the luxury of 24/7 in-room dining with a curated menu offering the finest cuisine at your convenience.</p>
                        <div class="facility-shape"> <span class="flaticon-bed"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-swimming"></span>
                        <h5>Swimming Pool</h5>
                        <p>Take a refreshing dip in our exquisite pool or lounge by the water, enjoying a serene ambiance and premium poolside service.</p>
                        <div class="facility-shape"> <span class="flaticon-swimming"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-wifi"></span>
                        <h5>Fibre Internet</h5>
                        <p>Stay connected with high-speed WiFi available throughout the hotel, ensuring seamless browsing and work-from-hotel convenience.</p>
                        <div class="facility-shape"> <span class="flaticon-wifi"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-breakfast"></span>
                        <h5>Breakfast</h5>
                        <p>Start your day with a delicious gourmet breakfast, featuring a variety of international and local dishes served fresh every morning.</p>
                        <div class="facility-shape"> <span class="flaticon-breakfast"></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="team section-padding bg-darkblack">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Professionals</div>
                    <div class="section-title">Meet The Team</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 owl-carousel owl-theme">
                    <div class="item">
                        <div class="img"> <img src="{% static 'img/team/4.jpg' %}" alt=""> </div>
                        <div class="info">
                            <h6>Valentina Karla</h6>
                            <p>General Manager</p>
                            <div class="social valign">
                                <div class="full-width"> 
                                   <a href="#"><i class="ti-instagram"></i></a> 
                                   <a href="#"><i class="ti-twitter"></i></a> 
                                   <a href="#"><i class="ti-facebook"></i></a> 
                                   <a href="#"><i class="ti-pinterest"></i></a>
                                   <p>valentina@hotel.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> 
                        <img src="{% static 'img/team/1.jpg' %}" alt=""> </div>
                        <div class="info">
                            <h6>Micheal White</h6>
                            <p>Guest Service Department</p>
                            <div class="social valign">
                                <div class="full-width"> 
                                    <a href="#"><i class="ti-instagram"></i></a>
                                    <a href="#"><i class="ti-twitter"></i></a> 
                                    <a href="#"><i class="ti-facebook"></i></a> 
                                    <a href="#"><i class="ti-pinterest"></i></a>
                                    <p>micheal@hotel.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="{% static 'img/team/2.jpg' %}" alt=""> </div>
                        <div class="info">
                            <h6>Olivia Martin</h6>
                            <p>Reservations Manager</p>
                            <div class="social valign">
                                <div class="social valign">
                                    <div class="full-width"> 
                                       <a href="#"><i class="ti-instagram"></i></a> 
                                       <a href="#"><i class="ti-twitter"></i></a> 
                                       <a href="#"><i class="ti-facebook"></i></a> 
                                       <a href="#"><i class="ti-pinterest"></i></a>
                                       <p>olivia@hotel.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="{% static 'img/team/5.jpg' %}" alt=""> </div>
                        <div class="info">
                            <h6>Mariana Dana</h6>
                            <p>F&B Manager</p>
                            <div class="social valign">
                                <div class="full-width"> 
                                   <a href="#"><i class="ti-instagram"></i></a> 
                                   <a href="#"><i class="ti-twitter"></i></a> 
                                   <a href="#"><i class="ti-facebook"></i></a> 
                                   <a href="#"><i class="ti-pinterest"></i></a>
                                   <p>mariana@hotel.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="{% static 'img/team/3.jpg' %}" alt=""> </div>
                        <div class="info">
                            <h6>Enrico Brown</h6>
                            <p>Head Chef</p>
                            <div class="social valign">
                                <div class="full-width"> 
                                   <a href="#"><i class="ti-instagram"></i></a> 
                                   <a href="#"><i class="ti-twitter"></i></a> 
                                   <a href="#"><i class="ti-facebook"></i></a> 
                                   <a href="#"><i class="ti-pinterest"></i></a>
                                   <p>enrico@hotel.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="{% static 'img/team/6.jpg' %}" alt=""> </div>
                        <div class="info">
                            <h6>Victoria Dan</h6>
                            <p>Meetings and Events Manager</p>
                            <div class="social valign">
                                <div class="full-width"> 
                                   <a href="#"><i class="ti-instagram"></i></a> 
                                   <a href="#"><i class="ti-twitter"></i></a> 
                                   <a href="#"><i class="ti-facebook"></i></a> 
                                   <a href="#"><i class="ti-pinterest"></i></a>
                                   <p>victoria@hotel.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testiominals -->
    <section class="testimonials">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="img/slider/2.jpg" data-overlay-dark="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="testimonials-box">
                            <div class="head-box">
                                <h6>Testimonials</h6>
                                <h4>What Client's Say?</h4>
                                <div class="line"></div>
                            </div>
                            <div class="owl-carousel owl-theme">
                                <div class="item"> 
                                    <span class="quote"><img src="{% static 'img/quot.png' %}" alt=""></span>
                                    <p>From the moment I arrived, I was treated like royalty. The service was impeccable, the rooms were stunning, and the entire ambiance exuded luxury. I can’t wait to return!</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="{% static 'img/team/4.jpg' %}" alt=""> </div>
                                        <div class="cont"> 
                                           <span>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                            </span>
                                            <h6>Emily Brown</h6> 
                                            <span>Guest review</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item"> <span class="quote"><img src="{% static 'img/quot.png' %}" alt=""></span>
                                    <p>A truly unforgettable experience! The spa was heavenly, the food was divine, and the attention to detail in every aspect of my stay was extraordinary. Highly recommended!</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="{% static 'img/team/1.jpg' %}" alt=""> </div>
                                        <div class="cont"> 
                                           <span>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                               <i class="star-rating"></i>
                                            </span>
                                            <h6>Nolan White</h6> 
                                            <span>Guest review</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item"> 
                                    <span class="quote"><img src="{% static 'img/quot.png' %}" alt=""></span>
                                    <p>GRM Luxury Hotel is the definition of elegance and comfort. The staff went above and beyond to make my stay special. The breathtaking views and serene environment made it a perfect getaway.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="{% static 'img/team/5.jpg' %}" alt=""> </div>
                                        <div class="cont"> 
                                            <span>
                                                <i class="star-rating"></i>
                                                <i class="star-rating"></i>
                                                <i class="star-rating"></i>
                                                <i class="star-rating"></i>
                                                <i class="star-rating"></i>
                                            </span>
                                            <h6>Olivia Martin</h6> 
                                            <span>Guest review</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
   <!-- Footer -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-column footer-about">
                            <h3 class="footer-title">About Hotel</h3>
                            <p class="footer-about-text">Welcome to GRM Luxury Hotel, a five-star sanctuary in the heart of Kenya. We redefine luxury with world-class hospitality, sophisticated accommodations, and exceptional services tailored for your comfort and indulgence.</p>

                            <div class="footer-language"> <i class="lni ti-world"></i>
                                <select onchange="location = this.value;">
                                    <option value=" ">English</option>
                                    <option value=" ">German</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div class="footer-column footer-explore clearfix">
                            <h3 class="footer-title">Explore</h3>
                            <ul class="footer-explore-list list-unstyled">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="rooms.html">Rooms & Suites</a></li>
                                <li><a href="restaurant.html">Restaurant</a></li>
                                <li><a href="spa-wellness.html">Spa & Wellness</a></li>
                                <li><a href="about.html">About Hotel</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-column footer-contact">
                            <h3 class="footer-title">Contact</h3>
                            <p class="footer-contact-text">Utawala, Nairobi<br>Kenya</p>
                            <div class="footer-contact-info">
                                <p class="footer-contact-phone"><span class="flaticon-call"></span> +254 725 717270</p>
                                <p class="footer-contact-mail">georgerubinga@gmail.com</p>
                            </div>
                            <div class="footer-about-social-list">
                                <a href="#"><i class="ti-instagram"></i></a>
                                <a href="#"><i class="ti-twitter"></i></a>
                                <a href="#"><i class="ti-youtube"></i></a>
                                <a href="#"><i class="ti-facebook"></i></a>
                                <a href="#"><i class="ti-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-inner">
                            <p class="footer-bottom-copy-right">© Copyright 2025 by <a href="https://www.klaustechs.com/">klaustechs</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
    <script src="{% static 'js/pace.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>